<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="style.css"> 
    <title>Home</title>
</head>
<body style="background-color:black; margin-left: 100px; margin-right: 100px">
    <div style="display: flex;
    flex-direction: column;">

        <div style="background: url(https://pbs.twimg.com/media/E-cFQNhXMAMkd_k.jpg:large); color:blanchedalmond; background-repeat: no-repeat; background-size: cover;text-align: center;background-position: center;">
            <h1 style="color: rgb(255, 255, 255) ;">{{nombre}} {{apellido}}</h1>
            <h4> Dorsales utilizados:
                
                {% for n in Dorsales %}
                    {% if n < 70 %}
                        <p style="color:red"> <b> Nivel Bajo {{n}}</b></p>
                    {% else %} <p style ="color:green">Nivel Alto {{n}}</p>
                    {% endif %}

                {% endfor%}
            </h4>
        </div>
        <div style="background: url(https://p4.wallpaperbetter.com/wallpaper/320/812/886/leo-messi-hd-image-download-wallpaper-preview.jpg); color:blanchedalmond; background-repeat: no-repeat; background-size: cover;text-align: center;background-position: center;">
            <h1 style="color: rgb(0, 0, 0) ;">{{messinombre}} {{messiapellido}}</h1>
            <h4> Dorsales utilizados:
                {% for n in messiDorsales %}
                    {% if n < 70 %}
                        <p style="color:red"> <b> Nivel Bajo {{n}}</b></p>
                    {% else %} <p style ="color:green">Nivel Alto {{n}}</p>
                    {% endif %}

                {% endfor%}
            </h4>
        </div>
        <div style="background: url(https://pbs.twimg.com/media/DtPlvsxWwAYrSnx.jpg:large); color:blanchedalmond; background-repeat: no-repeat; background-size: cover;text-align: center;background-position: center;">
            <h1 style="color: rgb(255, 255, 255) ;">{{neymarnombre}} {{neymarapellido}}</h1>
            <h4> Dorsales utilizados:
                {% for n in neymarDorsales %}
                    {% if n < 70 %}
                        <p style="color:red"> <b> Nivel Bajo {{n}}</b></p>
                    {% else %} <p style ="color:green">Nivel Alto {{n}}</p>
                    {% endif %}

                {% endfor%}
            </h4>
        </div>   
    </div>
</body>
</html>